*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  padding: auto;
  font-family: Bradley Hand, cursive;
  font-size: 28px;
  background-image: url("фон.jpg");
  background-position: center center;      
  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover;      
  background-color: #080000;
  color: #ffefef;
  display: flex;
  width: 80%;
  height: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}
.container{
  background-image: url(фу.jpg);
  background-color: #000000a0;
  background-position: center center;      
  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover; 
  flex-wrap: nowrap;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: justify;
  opacity: 80%;
}
.container-title{
  text-align:center;
}
aside {
  width: 30%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #ffffff;
  font-style: italic;
  color: #ffffff;
}
aside > p {
  margin: auto;
}
.footer-bs {
  background-color: #0000006a;
  padding: 30px 50px;
  color: rgba(255,255,255,1.00);
  width: 100%;
  height: 80px;
	margin-top: -80px;
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.footer-bs p{
  text-align: center;
}

.title{
  font-family: Bradley Hand, cursive;
  font-size:32px;
  color: rgb(0, 0, 0);
  padding: auto;
  text-shadow: rgb(121, 121, 121) 1px 0 10px;
  display: inline-block;
  background-color: #ffffff;
}
header {
  margin: auto;
  padding:auto;
  font-family:Bradley Hand, cursive;
  background-color: rgba(0, 0, 0, 0.474);
  color: rgb(255, 255, 255);
  min-height: 5vh;
  /*flex-grow: 1;*/
  width: 100%;
}
.main-heading {
  max-width: auto;
  text-align: center;
  margin: auto;
}
.main-heading h1 {
  font-size: 45px;
}

.main-heading p {
  font-size: 18px;
  line-height: 26px;
}
.header {
  overflow: hidden;
  background-color: #000000;
  padding: auto;
  flex-grow: 1;
}
.header a {
  float: left;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 12px;
  text-decoration:none; 
  font-family:Bradley Hand, cursive;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header-right {
  float: right;
  display: flex;
  align-items: center;
}
.sidenav {
  height: 100%; 
  width:15%;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-image: url(фу.jpg);
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 80%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}
.sidenav a:hover {
  color: #ff00d060;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media all and(max-width:480px){
  .aside {
  padding: 0%;
  margin: 0%;
  }
  .sidenav{
    font-size: 5px;
    width:25%;
    opacity:40%;    
  }
  .container{
    justify-content:center;
    font-size: 5px;
    display:flex;
    width: 100%;
  }
  .footer-bs{
    display: none;
  }
}
/*че-то как-то не media